<video id="v-controls" class="back" playsInline="playsInline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="/assets/back.mp4" type="video/mp4">
</video>
   
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <h1>Bezohminds</h1>
                <p>Bezohminds is a forward thinking software services company that combines the best of science, design, and value.  Our team is a dedicated and committed team of highly skilled and marketable software development professionals that has chosen to stop traveling and enjoy the benefits offered at Bezohminds</p>
              </div>
              <div class="carousel-item">
                <h1>Our Services</h1>
                <p>Bezohminds is an eCommerce software technology company made possible by our highly sought after, highly skilled and highly experienced eCommerce web developers.</p>
              </div>
              <div class="carousel-item">
                <h1>We are Ready to Go </h1>
                <p>The best software solutions are built to satisfy the needs of the business stakeholders.  Bezohminds will invest the time to understand client needs.  Our proven methodology leverages our CST (Customer Satisfaction Triangle) Methodology comprised of the User Experience (UX), User Stories, and the Solution Architecture.</p>
              </div>
          </div>
