video {
    position: fixed;
    top: 10%;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }
  h1{
    color: white;
    align-content: center;
    text-align: center;
    margin-top: 20%;
    font-size: 500%;
  }
p{
    color: white;
    margin-left: 21%;
    margin-right: 19%;
    text-align: justify;
}
.back{
 z-index: -100;
}
